!!!
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Rick Messer - A Designer in Austin, TX
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "Mobile designer for iPhone and Android in Austin, TX", :name => "description"}/
    %link{:href => "humans.txt", :rel => "author"}/
    %link{:href => "_/css/main.css", :rel => "stylesheet"}/
    %link{:href => "_/css/responsive.css", :rel => "stylesheet"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}/
    /[if lt IE 9]
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    / Touch icons
    %link{:href => "_/img/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "_/img/apple-touch-icon-144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
    %link{:href => "_/img/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    %link{:href => "_/img/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    %link{:href => "_/img/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}/
  %body#top
    %header.navbar.navbar-fixed-top{:role => "banner"}
      #brand
        %a{:href => "#top"}
          %img.logo{:src => "_/img/svg/logo.svg"}/
        %h1 Rick Messer Design
    #intro.banner
      .container
        .row
          .span3.center-text
            %img.face{:src => "_/img/ma-face.jpg"}/
          .span6
            %h2#message
              A designer in Austin. <br> Making life more fun &amp; interesting.
            %h3#lead-in
              This is how I do stuff &hellip;
          #tejas.span3
            %span#tt{"aria-hidden" => "true", "data-icon" => "J"}>
    %section{:role => "main"}
      .banner.mint-bg
        .container
          .row
            .span7
              #mobileCarousel.carousel.slide
                .carousel-inner
                  .item.active
                    %img{:src => "_/img/slides/mobile/iphone-st-welcome.png"}/
                  .item
                    %img{:src => "_/img/slides/mobile/iphone-st-map-detail.png"}/
                  .item
                    %img{:src => "_/img/slides/mobile/iphone-st-listed.png"}/
                  .item
                    %img{:src => "_/img/slides/mobile/android-st-dashboard.png"}/
                  .item
                    %img{:src => "_/img/slides/mobile/android-st-comments.png"}/
                  .item
                    %img{:src => "_/img/slides/mobile/android-st-region.png"}/
                / Mobile Carousel items
                %ol.carousel-indicators
                  %li.active{"data-slide-to" => "0", "data-target" => "#mobileCarousel"}
                  %li{"data-slide-to" => "1", "data-target" => "#mobileCarousel"}
                  %li{"data-slide-to" => "2", "data-target" => "#mobileCarousel"}
                  %li{"data-slide-to" => "3", "data-target" => "#mobileCarousel"}
                  %li{"data-slide-to" => "4", "data-target" => "#mobileCarousel"}
                  %li{"data-slide-to" => "5", "data-target" => "#mobileCarousel"}
                / Mobile Carousel nav
            .span4.offset1
              %h3 My approach to
              %h1 Mobile
              %ul.unstyled
                %li Extensive UX planning
                %li Pixel-perfect design for all states
                %li Vector &amp; repeatable assets
                %li Photoshop Layer &amp; Type Styles
                %li PSD Layer Comps
                %li Work with developers before, during and after hand-off 
              %h3 Tools of Choice:
              %ul
                %li Photoshop
                %li Skala Preview
                %li Keynote for Wireframes
                %li GUI Assets from Teehan + Lax
        %footer.summary
          %p Favorite Apps: FourSquare, Vine, TimeHop, Path, Rdio, Instagram

      .banner.soft-gold-bg
        .container
          .row
            .span7
              #webCarousel.carousel.slide
                .carousel-inner
                  .item.active
                    %a{:href => "http://donedapper.com/", :target => "_blank"}
                      %img{:src => "_/img/slides/web/dapper.jpg"}/
                  .item
                    %a{:href => "http://scenetap.com/", :target => "_blank"}
                      %img{:src => "_/img/slides/web/scenetap.jpg"}/
                  .item
                    %a{:href => "http://www.deerhillexpeditions.com/", :target => "_blank"}
                      %img{:src => "_/img/slides/web/dhe.jpg"}/
                  .item
                    %a{:href => "http://fourelementslandscape.com/", :target => "_blank"}
                      %img{:src => "_/img/slides/web/fourElements.jpg"}/
                  .item
                    %a{:href => "http://www.jkroofing.com/", :target => "_blank"}
                      %img{:src => "_/img/slides/web/jk.jpg"}/
                  .item
                    %a{:href => "http://rickmesser.com/clients/scinema/2011/homepage1.html", :target => "_blank"}
                      %img{:src => "_/img/slides/web/scinema.jpg"}/
                  .item
                    %a{:href => "http://www.tapalytics.us/", :target => "_blank"}
                      %img{:src => "_/img/slides/web/tapalytics.jpg"}/
                / Web Carousel Items
                %ol.carousel-indicators
                  %li.active{"data-slide-to" => "0", "data-target" => "#webCarousel"}
                  %li{"data-slide-to" => "1", "data-target" => "#webCarousel"}
                  %li{"data-slide-to" => "2", "data-target" => "#webCarousel"}
                  %li{"data-slide-to" => "3", "data-target" => "#webCarousel"}
                  %li{"data-slide-to" => "4", "data-target" => "#webCarousel"}
                  %li{"data-slide-to" => "5", "data-target" => "#webCarousel"}
                  %li{"data-slide-to" => "6", "data-target" => "#webCarousel"}
                / Web Carousel nav
            .span4.offset1
              %h3 My approach to
              %h1 Web
              %ul.unstyled
                %li Responsive, In-browser wireframes
                %li OOCSS
                %li Less, Haml, and CodeKit!
                %li Icon Fonts
              %h3
                Tools of Choice:
              %ul
                %li Sublime Text 2
                %li Photoshop
                %li Bootstrap
                %li GitHub
                %li IcoMoon
        %footer.summary
          %p Favorite Web Things: ShopTalk Show, SMACSS, CSS Hat, Chrome Inspector

      .banner.soft-blue-bg
        .container
          .row
            .span7
              .regridual-container#gallery{"data-target" => "#modal-gallery", "data-toggle" => "modal-gallery"}
                .regridual-row
                  .regridual-third-col  
                    %a{"data-gallery" => "gallery", :href => "_/img/branding/dapper-large.jpg", :title => "Dapper"}
                      %img{:src => "_/img/branding/thumbs/dapper-thumb.jpg"}/
                  .regridual-third-col
                    %a{"data-gallery" => "gallery", :href => "_/img/branding/shift-large.jpg", :title => "Shift"}
                      %img{:src => "_/img/branding/thumbs/shift-thumb.jpg"}/
                  .regridual-third-col
                    %a{"data-gallery" => "gallery", :href => "_/img/branding/trailMark-large.jpg", :title => "Trail Mark"}  
                      %img{:src => "_/img/branding/thumbs/trailMark-thumb.jpg"}/
                .regridual-row
                  .regridual-third-col
                    %a{"data-gallery" => "gallery", :href => "_/img/branding/amc-large.jpg", :title => "Austin Motor Club"}
                      %img{:src => "_/img/branding/thumbs/amc-thumb.jpg"}/
                  .regridual-third-col
                    %a{"data-gallery" => "gallery", :href => "_/img/branding/sceneTap-large.jpg", :title => "SceneTap"}
                      %img{:src => "_/img/branding/thumbs/sceneTap-thumb.jpg"}/
                  .regridual-third-col
                    %a{"data-gallery" => "gallery", :href => "_/img/branding/stangAholics-large.jpg", :title => "Stang-Aholics"}
                      %img{:src => "_/img/branding/thumbs/stangAholics-thumb.jpg"}/
                .regridual-row
                  .regridual-third-col
                    %a{"data-gallery" => "gallery", :href => "_/img/branding/scinema-large.jpg", :title => "Scinema"}
                      %img{:src => "_/img/branding/thumbs/scinema-thumb.jpg"}/
                  .regridual-third-col
                    %a{"data-gallery" => "gallery", :href => "_/img/branding/rrs-large.jpg", :title => "Red Rocks Sports T-Shirts"}
                      %img{:src => "_/img/branding/thumbs/rrs-thumb.jpg"}/
                  .regridual-third-col
                    %a{"data-gallery" => "gallery", :href => "_/img/branding/americanCampusPoster-large.jpg", :title => "The American Campus Show Poster"}
                      %img{:src => "_/img/branding/thumbs/americanCampusPoster-thumb.jpg"}/

            .span4.offset1
              %h3  My approach to
              %h1 Brands &amp; Such
              %ul.unstyled
                %li Establish Uses
                %li Design for 1-color applications
                %li Memorable &amp; Timeless Marks
                %li In-person presentations
                %li Environmental presentations 
                %li Designed in a grid to break
              %h3 Tools of Choice:
              %ul
                %li Pencil &amp; Paper
                %li Illustrator
                %li InDesign
        %footer.summary
          %p Brands &amp; Such That Rule: 
      .banner.red-bg
        .container
          .row
            .span7
              %form#form1.wufoo.topLabel.page{:action => "https://rickmesser.wufoo.com/forms/z7x3p3/#public", :autocomplete => "off", :enctype => "multipart/form-data", :method => "post", :name => "form1", :novalidate => ""}
                %header#header.info
                  %h3 Inquiries
                #foli1.notranslate
                  %label#title3.desc{:for => "Field1"}
                    And you are...?
                  %input.input-block-level{:name => "Field1", :required => "", :size => "8", :tabindex => "1", :type => "text", :value => "", :placeholder => "First Name"}/
                  %input.input-block-level{:name => "Field2", :required => "", :size => "14", :tabindex => "2", :type => "text", :value => "", :placeholder => "Last Name"}/
                #foli3.notranslate
                  %input.input-block-level{:maxlength => "255", :name => "Field3", :required => "", :spellcheck => "false", :tabindex => "3", :type => "email", :value => "", :placeholder => "Email"}/
                #foli4.notranslate
                  %input.input-block-level{:maxlength => "255", :name => "Field4", :onkeyup => "", :tabindex => "4", :type => "text", :value => "", :placeholder => "Your Company Is...?"}/
                #foli5.notranslate
                  %input.input-block-level{:maxlength => "255", :name => "Field5", :onkeyup => "", :required => "", :tabindex => "5", :type => "text", :value => "", :placeholder => "What should we talk about?"}/
                %input#saveForm.btTxt.submit.btn.btn-primary.btn-block{:name => "saveForm", :type => "submit", :value => "Submit"}/
                %li.hide
                  %label{:for => "comment"} Do Not Fill This Out
                  %textarea#comment{:cols => "1", :name => "comment", :rows => "1"}
                  %input#idstamp{:name => "idstamp", :type => "hidden", :value => "RWw3DfcmlbEHMpcetuaoLgcQuB/7Ssz2/ZTvhhVVtow="}/
            .span4.offset1
              %h3 Please Do
              %h1 Call Me
              %p You can also email, I just didn’t want to put “Contact” as the title of this section... That’s lame.
              %p I don’t even think my phone number is on this site actually&hellip;
              %h3 Tools of Choice:
              %ul
                %li Twitter
                %li Coffee or Beer
                %li Lunch
                %li Send me an awesome rap video
        %footer.summary
          %p 
            Call Me On:
            %a.icon{:href => "https://twitter.com/rickmesser"}
              %span{"aria-hidden" => "true", "data-icon" => "T"}>
            %a.icon{:href => "http://www.rdio.com/people/rickmesser/"}
              %span{"aria-hidden" => "true", "data-icon" => "R"}>
            %a.icon{:href => "http://dribbble.com/rickmesser"}
              %span{"aria-hidden" => "true", "data-icon" => "D"}>

    / modal-gallery is the modal dialog used for the image gallery
    #modal-gallery.modal.modal-gallery.hide.fade{:tabindex => "-1"}
      .modal-header
        %a.close{"data-dismiss" => "modal"} &times;
        %h3.modal-title
      .modal-body
        .modal-image

    %script{:src => "_/js/vendor/jquery-1.8.2.min.js"}
    %script{:src => "_/js/plugins.js"}
    %script{:src => "_/js/bootstrap-transition.js"}
    %script{:src => "_/js/bootstrap-alert.js"}
    %script{:src => "_/js/bootstrap-modal.js"}
    %script{:src => "_/js/bootstrap-dropdown.js"}
    %script{:src => "_/js/bootstrap-scrollspy.js"}
    %script{:src => "_/js/bootstrap-tab.js"}
    %script{:src => "_/js/bootstrap-tooltip.js"}
    %script{:src => "_/js/bootstrap-popover.js"}
    %script{:src => "_/js/bootstrap-button.js"}
    %script{:src => "_/js/bootstrap-collapse.js"}
    %script{:src => "_/js/bootstrap-carousel.js"}
    %script{:src => "_/js/bootstrap-typeahead.js"}
    %script{:src => "_/js/vendor/jquery.fittext.js"}
    %script{:src => "_/js/vendor/load-image.min.js"}
    %script{:src => "_/js/vendor/bootstrap-image-gallery.min.js"}
    %script{:src => "_/js/vendor/wufoo.js"}
    %script{:src => "_/js/main.js"}